<div class="profile">
        <figure class="profile-image">
            
            <div class="profile-image">
                @if (isWinner()) {
                    <div 
                        class="trophy"
                        [class.trophy__player1]="isPlayerPositionRight()"
                        [class.trophy__player2]="isPlayerPositionLeft()">
                        <img 
                            class="trophy-img"
                            src="trofeu.svg" 
                            alt=""
                        >
                    </div>
                }

                @if (isWinner()) {
                    <div 
                        class="profile-winner profile-winner__player1"
                        [class.profile-winner__player1]="isPlayerPositionRight()"
                        [class.profile-winner__player2]="isPlayerPositionLeft()">
                    </div>
                }
    
                <img  
                class="user-image"
                [class.user-image__player1]="isPlayerPositionRight()"
                [class.user-image__player2]="isPlayerPositionLeft()"
                [src]="player().photoSmall"
                alt=""
                >
            </div>
            
            <figcaption>
                {{ player().name }}
            </figcaption>
        </figure>

</div>