<div class="profile">
        <figure class="profile-image">
            
            <div class="profile-image">
                <div class="trophy trophy__player2">
                    <img 
                        class="trophy-img"
                        src="trofeu.svg" 
                        alt=""
                    >
                </div>


                <div class="profile-winner profile-winner__player1 profile-winner__player2"></div>
    
                <img  
                class="user-image"
                src="https://robohash.org/Marcio?set=set1&size=150x150" 
                alt=""
                >
            </div>
            
            <figcaption>
                André Felipe Fuck 
            </figcaption>
        </figure>

</div>