<div class="profile">
        <figure class="profile-image">
            
            <div class="profile-image">
                @if (isWinner()) {
                    <div 
                        class="trophy"
                        [class.trophy__player1]="isPlayerPositionRight()"
                        [class.trophy__player2]="isPlayerPositionLeft()">
                        <img 
                            class="trophy-img"
                            src="trofeu.png" 
                            alt=""
                        >
                    </div>
                }

              

                <img  
                class="user-image"
                [class.user-image__winner]="isWinner()"
                [class.user-image__loser]="!isWinner()"
                [src]="player().photoSmall"
                alt=""
                >
            </div>
            
            <figcaption
            [class.user-name-winner]="isWinner()">
                {{ player().name }}
            </figcaption>
        </figure>

</div>