@import '../../variables';

.profile{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-image{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0;
}

.trophy{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 3;
}

.trophy-img{
    width: 28px;
    height: 28px;
}

.trophy__player1{
    margin-bottom: 3.5rem;
    margin-right: 5rem;
}

.trophy__player2{
    margin-bottom: 3.5rem;
    margin-left: 5rem;
}

.user-image{
    background-color: $white;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    z-index: 2;
}

.user-image__winner{
    border: solid 3.5px $green;
}

.user-image__loser{
    border: solid 3.5px $orange;
}

.profile-winner{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    position: absolute;
    z-index: 1;
}

.profile-winner__player1{
    box-shadow: 0px 0px 25px $orange;
}

.profile-winner__player2{
    box-shadow: 0px 0px 25px $green;
}

.user-name-winner{
    color: $green;
    font-weight: 800;
}

figcaption{
    color: $black;
    font-family: $font-inter;
    margin-top: 0.5rem;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    z-index: 1;
    width: 7rem;
    height: 2rem;
}