/* You can add global styles to this file, and also import other style files */
@import 'variables';


* {
  box-sizing: border-box;
}

body {

  display: flex;
  align-items: center;
  justify-content: center;
  
  margin: 0;
  font-family: $font-inter;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
}

.container{
}
