/* Varibles  */

/* Colors */
$blue: #9BB6E8;
$soft-blue: #E3F2FD;
$hard-blue: #0D6EFD;
$orange: #FF9889;
$orange-radial-gradient:  radial-gradient(circle,rgba(255, 152, 137, 1) 50%, rgba(255, 152, 137, 0) 100%);
$green: #74E8A6;
$white: #f5f5f5;
$black: #3B3D48;
$grey: #707A8E;
$grey-degrade:  rgba(112, 122, 142, 0.15);


/* Fonts */
$font-instrument-sans: "Instrument Sans", sans-serif;
$font-lexend: "Lexend", sans-serif;
$font-inter: "Inter", sans-serif;
